<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: add.html.erb
Description: Page for admins to add resources
Last modified on: 12/2/2020
<% end %>

<h3 style="text-align:center;">Add Resources</h3>
<%# Form for admins to add resources %>
<%= form_with(url: "/add_submit", method: "post") do %>
    <div class="mb-3">
      <label for="name" class="form-label">Resource Name</label>
      <input class="form-control" type="text" onkeypress="return blockSpecialChar(event)" id="name" name="name" placeholder="Example Soup Kitchen" required>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Resource Address</label>
      <input class="form-control" type="text" onkeypress="return blockSpecialChar(event)" id="address" name="address" placeholder="123 Example Lane" required>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">Resource City</label>
      <input class="form-control" type="text" onkeypress="return blockSpecialCharAndNums(event)" id="city" name="city" placeholder="Example City" required>
    </div>
    <div class="mb-3">
      <label for="zip" class="form-label">Resource Zip Code</label>
      <input class="form-control" type="text" onkeypress="return blockAllButNums(event)" minlength="5" maxlength="5" id="zip" name="zip" placeholder="01234" required>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Resource Phone Number</label>
      <input class="form-control" type="text" onkeypress="return blockAllButNums(event)" minlength="10" maxlength="10" id="phone" name="phone" placeholder="1234567890" required>
    </div>
    <label class="form-check-label" for="county_id">
    Resource County
    </label>
    <%= select("post", "county_id", County.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }, :required => true) %>
    
    <label class="form-check-label" for="category_id">
    Resource Category
    </label>
    <%= select("post", "category_id", Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }, :required => true) %>
    <br>
    <br>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>