<% if false %>
Project name: Beacon Resources
Description: BeaconResources is a web application that will allow for easy access to verified resources, such as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
Filename: login.html.erb
Description: Allows admins to login and access anonymous suggestions
Last modified on: 11/10/2020
<% end %>

  <h1>Login!</h1>