<header>
  <h1>
    Welcome to BeaconResources!
  </h1>
</header>
<section>
  <p>
    BeaconResources is a web application that will allow for easy access to verified resources, sucj as homeless shelters and food banks, by county in New Jersey with appropriate category filtering.
  </p>
</section>
